/* RESETS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* BODY */
body{
    background-color: rgba(25, 29, 123);
    
}
/* Font */
.sigmar{
    font-family: "Sigmar", sans-serif;
    font-size: 40px;
}
.sans{
    font-family: "Dm Sans", sans-serif;
    font-size: 18px;
}
/* Header */
img{
    max-width: 100%;
    display: block;
}

/* FIRST SECTION */
.firstsection{
    min-height: 330px;
    margin: 0 auto;
    max-width: 400px;
    text-align:center;
    position: relative;
    color: white;
}
.firstext{
    position: absolute;
    top: 15%;
    
}
/* Button */

.bothbutton{
    min-height: 200px;
    margin: 20px;
    text-align: center;
}

.whitebutton{
    margin-bottom: 20px;
    min-height: 30px;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 20px;   
}
.bluebutton{
    margin-bottom: 10px;
    min-height: 30px;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgba(88, 101, 242);
    color:white
}
/* ICON */
.bi-cloud-download{
    margin-bottom: 6px;
    margin-right: 5px;
    font-size: 5px;
}
/* ABSOLUT */
.discordcube{
    position: absolute;
    width: 120px;
    top: 0%;
    transform: translate(50%, -50%);
    right: 50%;
}

.eyes{
      position: absolute;
    width: 120px;
    top: 0%;
    transform: translate(50%, -50%);
    right: 50%;
}
/* First card */

.firstcard{
    min-height: 200px;
    position: relative;

}
/* CONTAINER */
.container{
background-image: linear-gradient(to top, rgba(84, 96, 232), rgba(50, 54, 143));
min-height: 330px;
margin: 0 auto;
max-width: 450px;
position: relative;
color: white;
border-radius: 20px;
text-align: left;
}
/* TITOLETTI */
.titoletto{
    padding-top: 60px;
    padding-left: 30px;
}
.testo{
 padding: 10px 30px 10px 30px;
}

/* video */

.primovideo{
    max-width: 85%;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-left: 30px;
    margin-right: 30px;
    
}
/* Margin for the section */

.marginforsection{
margin-top: 50px;
}

