/* RESETS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* BODY */
body{
    background-color: rgba(25, 29, 123);
    
}
/* Font */
.sigmar{
    font-family: "Sigmar", sans-serif;
    font-size: 40px;
}
.sans{
    font-family: "Dm Sans", sans-serif;
    font-size: 18px;
}
/* Header */
img{
    max-width: 100%;
    display: block;
}

/* FIRST SECTION */
.firstsection{
    min-height: 330px;
    margin: 0 auto;
    max-width: 400px;
    text-align:center;
    position: relative;
    color: white;
}
.firstext{
    position: absolute;
    top: 15%;
    
}
/* Button */

.button{
    min-height: 200px;
    margin: 20px;
    text-align: center;
}

.whitebutton{
    margin-bottom: 20px;
    min-height: 30px;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 20px;   
}
.bluebutton{
    margin-bottom: 10px;
    min-height: 30px;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgba(88, 101, 242);
    color:white
}
.downloadicon{
    margin-bottom: 6px;
    margin-right: 5px;
    font-size: 5px;
}